<nz-spin [nzSpinning]='isSpinning' nzTip='登录中...' class='spin'>
  <div class='login-code modal-content'>
    <ng-container *ngIf='!isScan; else scanning'>
      <div class='waitScan'>
        <div class='phoneAppImg'></div>
        <div class='codeImgBox'>
          <h3>扫码登录</h3>
          <!--          具体的二维码-->
          <div class='codeImgWrapper'>
            <img alt='' [src]='qrcodeImg' />
            <div class='refreshMask' *ngIf='codeExpire'>
              <p>二维码已失效</p>
              <a href='javascript:' class='refreshCode' (click)='refreshCode()'
              >点击刷新</a
              >
            </div>
          </div>
          <p>
            使用&nbsp;
            <a
              class='c0c73c2'
              href='https://music.163.com/#/download'
              target='_blank'
            >
              网易云音乐APP </a
            >&nbsp;扫码登陆
          </p>
        </div>
      </div>
    </ng-container>
    <ng-template #scanning>
      <div class='scanningBox'>
        <div class='scanningImg'></div>
        <h3>扫描成功</h3>
        <p>请在手机上确认登录</p>
      </div>
    </ng-template>
  </div>
</nz-spin>

<div class="m-footer clearfix">
  <a (click)="onChangeModalType.emit('register')">没有账号？免费注册</a>
</div>
